extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mattis est. In quis facilisis dolor. Vestibulum bibendum cursus rutrum. Fusce commodo, purus sit amet egestas maximus, nisl lectus consequat orci, sed hendrerit ligula ante sit amet neque. 

                p ac est luctus, sagittis arcu eget, rhoncus elit. Aenean porta consectetur dolor vel porta. Fusce lobortis volutpat congue. Vestibulum sit amet metus diam. Phasellus id elit rutrum, egestas erat ultrices, finibus lectus. Nullam ut urna egestas, malesuada ex eget, ornare erat. Quisque sollicitudin sagittis justo, sed ullamcorper nunc convallis ac. 

                p non gravida libero. Ut non lacinia nisl. Etiam non nisl tristique metus consectetur aliquet ut varius urna. Pellentesque a tellus malesuada, porta erat quis, fermentum diam. Donec ac dui consequat, vehicula justo in, laoreet tellus. Morbi convallis nec mi et malesuada. Morbi auctor, quam id volutpat luctus, nibh tortor efficitur quam, a vehicula mi lacus ut velit. Nam volutpat vel libero vitae sollicitudin.

    .listado-iconos
        .container.nt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    P Donec ac dui consequat, vehicula justo in, laoreet tellus. Morbi convallis nec mi et malesuada. Morbi auctor, quam id volutpat luctus, nibh tortor efficitur quam.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
                    h2.mb-4 mejores destinos
                    P Donec ac dui consequat, vehicula justo in, laoreet tellus. Morbi convallis nec mi et malesuada. Morbi auctor, quam id volutpat luctus, nibh tortor efficitur quam.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio" class="img-fluid mb-4")
                    h2.mb-4 los mejores precios
                    P Donec ac dui consequat, vehicula justo in, laoreet tellus. Morbi convallis nec mi et malesuada. Morbi auctor, quam id volutpat luctus, nibh tortor efficitur quam.
     




